@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5fbf1;
  line-height: 1.6;
}

img {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: auto;
}

.showcase,
.overlay {
  height: 46.875rem;
}

.showcase {
  background: url(./assets/hero.webp) center/cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: solid #9999cc;
}
